pr-feature {
  /*  --highlight-color */
  display: block;
  background: white;
  color: black;
  padding: calc(var(--base) * 4);
  box-shadow: var(--pr-box-shadow) var(--highlight-color, var(--ps-blue));
  transition: box-shadow ease-in-out 200ms;
}

.pr-feature-headline {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  margin-bottom: calc(var(--base) * 1);
}
