.pr-header {
  display: block;
  --main-color: var(--ps-blue);
  margin: 0 auto;
  max-width: var(--content-width);
  box-sizing: border-box;
  width: 100%;
  padding: calc(var(--base) * 10) var(--content-padding);
}

.pr-header-logo {
  margin-bottom: calc(var(--base) * 12);
}

.pr-header-headline {
  display: block;
}

.pr-header-subline {
  margin: 0;
  font-size: 40px;
  max-width: 20ch;
  font-weight: 400;
}

.pr-header-button {
  margin-top: calc(var(--base) * 12);
  display: inline-block;
  margin-right: calc(var(--base) * 3);
}

.pr-header-text {
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size--S);
}

@media (max-width: 600px) {
  .pr-header-subline {
    font-size: 18px;
  }
  .pr-header-button {
    width: 100%;
  }
  .pr-header-text {
    text-align: center;
  }
}
